node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.phpunit.result.cache
.phpunit.cache.php
.DS_Store
Thumbs.db
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
vendor/bin/*
vendor/phpunit/*
vendor/squizlabs/*
storage/app/public/*
storage/app/private/*
storage/app/tmp/*
