APP_NAME="FoodTech SAAS Platform"
APP_ENV=local
APP_KEY=
JWT_SECRET=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=saas_foodtech
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
AUTH_API_DRIVER=sanctum

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
CACHE_DRIVER=redis
CACHE_PREFIX=foodtech_

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS="hello@foodtech.example.com"
MAIL_FROM_NAME="${APP_NAME}"

REVERB_APP_ID=foodtech-app
REVERB_APP_KEY=foodtech-reverb-key
REVERB_APP_SECRET=foodtech-reverb-secret
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http
